@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

@media only screen and (min-width: 800px) {
  body {
    position: absolute;
    width: 40vw;
    left: 30vw;
  }
}

@media only screen and (max-width: 800px) {
  body {
    position: absolute;
    width: 90vw;
    left: 5vw;
  }
}

.search {
  margin-top: 2em;
}

.search button {
  margin-left: 1em;
}

.card {
  margin: 1em 0 1em 0;
}
